body {
	display: grid;
	grid-template-areas: 
	"nav nav nav"
	"sbone main sbtwo"
	"footer footer footer";
	grid-gap: 0;
	margin: 0;
	font-family: Century Gothic, Helvetica, Sans serif;
	line-height: 1.5em;
}

#navbar, #sbone, #main, #sbtwo, #footer{
	padding: 16px;
}

#navbar {
	grid-area: nav;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: 10vh;
	background-color: #1a8cff;
	padding: 0;
	margin-bottom: 40px;
}

#navbar a{
	text-decoration: none;
	margin: 0;
	color: #000000;
}

.logo {
	margin: 0;
	height: 100%;
	background: #0066cc;
	display: flex;
	align-items: center;
}

.logo a{
	font-family: Impact;
	letter-spacing: 1px;
	padding: 40px 24px;
}

.logo a span {
	font-size: 2em;
	letter-spacing: 2px;
}

.options {
	margin-right: 24px;
}

.options a{
	margin: 0 8px;
	padding: 16px 24px;
	border-radius: 8px;
	font-weight: 600;
}

.active {
	background-color: #80bfff;
}

.options a:hover {
	background-color: rgba(0,0,0,0.3);
}

#sbone {
	grid-area: sbone;
	width: 15vw;
	background-color: #cce6ff;
	margin: 40px 0 40px 24px;
	height: fit-content;
	display: flex;
	flex-direction: column;
}

#sbone a{
	color: #000000;
	text-decoration: none;
}

#sbone a:hover {
	background-color: rgba(0,0,0,0.3);
}

#main {
	grid-area: main;
	box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
	margin: 0 40px;
	padding: 32px 24px;
}

#examples {
	display: flex;
	flex-direction: row;
}

#examples figure{
	width: 25%;
	border: 1px rgba(0, 0, 0, 0.40) solid;
	border-radius: 4px;
	padding: 16px;
	margin: 4px;
}

#examples figure img {
	width: 100%;
	height: auto;
}

#examples p{
	text-align: center;
}

#sbtwo {
	grid-area: sbtwo;
	width: 15vw;
	background-color: #cce6ff;
	margin-right: 16px;
}

#sbtwo a{
	color: #000000;
	text-decoration: none;
	margin-bottom: 8px;
}

#sbtwo a:hover {
	background-color: rgba(0,0,0,0.3);
}

#sbtwo br {
	height: 16px;
}

#footer {
	grid-area: footer;
	background-color: #00264d;
	margin-top: 40px;
	color: #ffffff;
}